.editor {
    margin: 40px 0;
    overflow-x: auto;

}
.editor__inner_container {
    position: relative;
}



.nav.nav-pills > li {
    transition:150ms;

    > a {
        font-size: 20px;
        line-height: 100%;
        padding: 15px 15px;
    }
    .delete_sheet, .new_sheet {
        vertical-align: bottom;
        cursor: pointer;

        transition: width 150ms;
        width: 0;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
    .delete_sheet {
        margin-right: 5px;
        .fa {
            color:red;
        }
        &:hover {
            .fa {
                color: darkred;
            }
        }
    }
    .new_sheet {
        margin-left: 5px;
        &:hover {
            .fa {
                color: blue;
            }
        }
    }
    &:hover {

        .delete_sheet, .new_sheet {
            width: 20.38px;
        }
    }
    &.active {
        .delete_sheet {
            &:hover {
                .fa {
                    color:red;
                }
            }
        }
        .fa {
            color:white;
        }
        > a {
            background-color: $evergreen
        }
    }
}







