.editor {
    margin: 40px 0;
    overflow-x: auto;

}
.editor__inner_container {
    position: relative;
}




.new_sheet, .delete_sheet {
    font-size: 16px;
    cursor: pointer;
    padding:4px;
    display:none;
}


.delete_sheet {
    margin-right: 5px;
}

.new_sheet {
    margin-left: 5px;
}



.nav.nav-pills > li {
    transition:150ms;
    > a {
        font-size: 20px;
    }
    .delete_sheet {
        .fa {
            color:red;
        }
        &:hover {
            .fa {
                color: darkred;
            }
        }
    }
    .new_sheet {
        &:hover {
            .fa {
                color: blue;
            }
        }
    }
    &:hover {

        .delete_sheet, .new_sheet {
            display:inline-block;
        }
    }
    &.active {
        .delete_sheet {
            &:hover {
                .fa {
                    color:red;
                }
            }
        }
        .fa {
            color:white;
        }
        > a {
            background-color: $evergreen
        }
    }
}







