.gritter-item-wrapper {
    &.failure {
        background-color: red;
    }
    &.success {
        background-color: green;
    }
}
.centered {
    text-align:center;
}
.floatright {
    float:right;
}
.floatleft {
    float:left;
}