.properties_editor {
    .property {

        .tag {
            padding: 0 20px 0 0;
            color: #8198A3;

        }
        .datablock {
            border: 1px solid #47A491;
            input {
                padding: 5px 10px;
                font-size: 16px;
                border: none;
                height: auto;
                background-color: transparent;
                &:focus {
                    background-color: #9DD0C6;
                }
            }

        }
    }
}