$editorGray: #8198A3;
@mixin newIcon(){
    color:$evergreen;
    font-size: 18px;
    cursor: pointer;
}
.nav-pills>li.active>a {
    background-color: $evergreen
}
.nav-pills>li>a
{
    font-size:20px;
}
.sheet_editor {
    .sheet_column {
        color: $editorGray;
        text-align: center;

    }
    th {
        padding-bottom: 10px;
    }
    .new_column {
        i {
            @include newIcon()
        }
        padding: 0 30px;
    }
    .new_row {
        .row_name {
            i {
                @include newIcon()
            }
            padding: 10px 0;
            text-align:center;
        }

    }
    .sheet_row {

        .row_name {
            padding-right: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #8198A3;
        }
        .cell {
            border: 1px solid $evergreen;

            input {
                padding: 5px 10px;
                font-size: 16px;
                border: none;
                height: auto;
                background-color: transparent;
                &:focus {
                    background-color: $evergreenLighter;
                }
            }

        }
        &:not(.current_row) .cell input {
            color: $editorGray;
        }
        &:nth-child(even) .cell {
            background-color: $evergray;

        }
    }

}
